ALU/ALU.cache/wt/project.wpc
*.rlx
*.ini
*.sdb
*.log
*.exe
ALU/ALU.cache/wt/xsim.wdf
ALU/ALU.sim/sim_1/behav/xsim/compile.bat
ALU/ALU.cache/wt/xsim.wdf
ALU/ALU.sim/sim_1/behav/xsim/compile.bat
ALU/ALU.sim/sim_1/behav/xsim/elaborate.bat
ALU/ALU.sim/sim_1/behav/xsim/simulate.bat
ALU/ALU.sim/sim_1/behav/xsim/UART_Controller_tb_behav.wdb
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/obj/xsim_0.win64.obj
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.dbg
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.mem
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.rlx
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.rtti
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.xdbg
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsimk.exe
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsimkernel.log
ALU/ALU.sim/sim_1/behav/xsim/xvlog.log
ALU/ALU.sim/sim_1/behav/xsim/xvlog.pb
