ALU/ALU.cache/wt/project.wpc
*.rlx
*.ini
*.sdb
*.log
*.exe
ALU/ALU.cache/wt/xsim.wdf
ALU/ALU.sim/sim_1/behav/xsim/compile.bat
ALU/ALU.cache/wt/xsim.wdf
ALU/ALU.sim/sim_1/behav/xsim/compile.bat
ALU/ALU.sim/sim_1/behav/xsim/elaborate.bat
ALU/ALU.sim/sim_1/behav/xsim/simulate.bat
ALU/ALU.sim/sim_1/behav/xsim/UART_Controller_tb_behav.wdb
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/obj/xsim_0.win64.obj
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.dbg
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.mem
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.rlx
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.rtti
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.xdbg
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsimk.exe
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsimkernel.log
ALU/ALU.sim/sim_1/behav/xsim/xvlog.log
ALU/ALU.sim/sim_1/behav/xsim/xvlog.pb
ALU/ALU.sim/sim_1/behav/xsim/xvlog.pb
ALU/ALU.sim/sim_1/behav/xsim/xvlog.log
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@u@a@r@t_@controller_tb.sdb
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@u@a@r@t_@controller.sdb
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsimSettings.ini
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsimkernel.log
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsimk.exe
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.xdbg
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.rtti
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.rlx
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.reloc
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.mem
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/xsim.dbg
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/TempBreakPointFile.txt
ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/UART_Controller_tb_behav/obj/xsim_0.win64.obj
ALU/ALU.sim/sim_1/behav/xsim/UART_Controller_tb_behav.wdb
ALU/ALU.sim/sim_1/behav/xsim/simulate.bat
ALU/ALU.sim/sim_1/behav/xsim/elaborate.bat
ALU/ALU.sim/sim_1/behav/xsim/compile.bat
ALU/ALU.runs/synth_1/vivado.pb
ALU/ALU.runs/synth_1/vivado.jou
ALU/ALU.runs/synth_1/runme.log
ALU/ALU.runs/synth_1/GPPU_utilization_synth.rpt
ALU/ALU.runs/synth_1/GPPU_utilization_synth.pb
ALU/ALU.runs/synth_1/GPPU.vds
ALU/ALU.runs/synth_1/GPPU.tcl
ALU/ALU.runs/synth_1/GPPU.dcp
ALU/ALU.runs/synth_1/gen_run.xml
ALU/ALU.runs/synth_1/.vivado.begin.rst
ALU/ALU.runs/impl_1/write_bitstream.pb
ALU/ALU.runs/impl_1/vivado.pb
ALU/ALU.runs/impl_1/vivado.jou
ALU/ALU.runs/impl_1/runme.log
ALU/ALU.runs/impl_1/route_report_timing_summary_0.rpx
ALU/ALU.runs/impl_1/route_report_timing_summary_0.rpt
ALU/ALU.runs/impl_1/route_report_timing_summary_0.pb
ALU/ALU.runs/impl_1/route_report_route_status_0.rpt
ALU/ALU.runs/impl_1/route_report_route_status_0.pb
ALU/ALU.runs/impl_1/route_report_power_summary_0.pb
ALU/ALU.runs/impl_1/route_report_power_0.rpx
ALU/ALU.runs/impl_1/route_report_power_0.rpt
ALU/ALU.runs/impl_1/route_report_drc_0.rpx
ALU/ALU.runs/impl_1/route_report_drc_0.rpt
ALU/ALU.runs/impl_1/route_report_drc_0.pb
ALU/ALU.runs/impl_1/route_report_clock_utilization_0.rpt
ALU/ALU.runs/impl_1/route_report_bus_skew_0.rpx
ALU/ALU.runs/impl_1/route_report_bus_skew_0.rpt
ALU/ALU.runs/impl_1/route_design.pb
ALU/ALU.runs/impl_1/project.wdf
ALU/ALU.runs/impl_1/place_report_utilization_0.rpt
ALU/ALU.runs/impl_1/place_report_utilization_0.pb
ALU/ALU.runs/impl_1/place_report_timing_summary_0.rpx
ALU/ALU.runs/impl_1/place_report_timing_summary_0.rpt
ALU/ALU.runs/impl_1/place_report_timing_summary_0.pb
ALU/ALU.runs/impl_1/place_report_io_0.rpt
ALU/ALU.runs/impl_1/place_design.pb
ALU/ALU.runs/impl_1/phys_opt_report_timing_summary_0.rpx
ALU/ALU.runs/impl_1/phys_opt_report_timing_summary_0.rpt
ALU/ALU.runs/impl_1/phys_opt_report_timing_summary_0.pb
ALU/ALU.runs/impl_1/phys_opt_design.pb
ALU/ALU.runs/impl_1/opt_report_utilization_0.rpt
ALU/ALU.runs/impl_1/opt_report_utilization_0.pb
ALU/ALU.runs/impl_1/opt_report_timing_summary_0.rpx
ALU/ALU.runs/impl_1/opt_report_timing_summary_0.rpt
ALU/ALU.runs/impl_1/opt_report_timing_summary_0.pb
ALU/ALU.runs/impl_1/opt_report_methodology_0.rpx
ALU/ALU.runs/impl_1/opt_report_methodology_0.rpt
ALU/ALU.runs/impl_1/opt_report_high_fanout_nets_0.rpt
ALU/ALU.runs/impl_1/opt_report_drc_0.rpx
ALU/ALU.runs/impl_1/opt_report_drc_0.rpt
ALU/ALU.runs/impl_1/opt_report_design_analysis_0.rpt
ALU/ALU.runs/impl_1/opt_report_control_sets_0.rpt
ALU/ALU.runs/impl_1/opt_design.pb
ALU/ALU.runs/impl_1/init_report_utilization_0.rpt
ALU/ALU.runs/impl_1/init_report_utilization_0.pb
ALU/ALU.runs/impl_1/init_report_timing_summary_0.rpx
ALU/ALU.runs/impl_1/init_report_timing_summary_0.rpt
ALU/ALU.runs/impl_1/init_report_timing_summary_0.pb
ALU/ALU.runs/impl_1/init_report_high_fanout_nets_0.rpt
ALU/ALU.runs/impl_1/init_report_control_sets_0.rpt
ALU/ALU.runs/impl_1/init_design.pb
ALU/ALU.runs/impl_1/GPPU_routed.dcp
ALU/ALU.runs/impl_1/GPPU_placed.dcp
ALU/ALU.runs/impl_1/GPPU_physopt.dcp
ALU/ALU.runs/impl_1/GPPU_opt.dcp
ALU/ALU.runs/impl_1/GPPU.vdi
ALU/ALU.runs/impl_1/GPPU.tcl
ALU/ALU.runs/impl_1/GPPU.bit
ALU/ALU.runs/impl_1/GPPU.bin
ALU/ALU.runs/impl_1/gen_run.xml
ALU/ALU.runs/impl_1/clockInfo.txt
ALU/ALU.runs/impl_1/.write_bitstream.begin.rst
ALU/ALU.runs/impl_1/.vivado.begin.rst
ALU/ALU.runs/impl_1/.route_design.begin.rst
ALU/ALU.runs/impl_1/.place_design.begin.rst
ALU/ALU.runs/impl_1/.phys_opt_design.begin.rst
ALU/ALU.runs/impl_1/.opt_design.begin.rst
ALU/ALU.runs/impl_1/.init_design.begin.rst
ALU/ALU.runs/.jobs/vrs_config_436.xml
ALU/ALU.runs/.jobs/vrs_config_435.xml
ALU/ALU.runs/.jobs/vrs_config_434.xml
ALU/ALU.runs/.jobs/vrs_config_433.xml
ALU/ALU.hw/hw_1/hw.xml
ALU/ALU.cache/wt/xsim.wdf
ALU/ALU.cache/wt/webtalk_pa.xml
ALU/ALU.cache/wt/synthesis.wdf
ALU/ALU.cache/wt/project.wpc
